<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Android 檔案傳輸</string>
	<key>CFBundleDisplayName</key>
	<string>Android 檔案傳輸</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hant</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>探索並連接同一 Wi-Fi 網路上的 Android 裝置以進行無線傳輸。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_adb-tls-connect._tcp</string>
		<string>_adb-tls-pairing._tcp</string>
	</array>
</dict>
</plist>
